name: Docker Image CI

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build the Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          build-args: |
            JAVA_VERSION=21
            BUILDKIT_INLINE_CACHE=1
          push: false
          tags: my-image-name:${{ github.sha }}
          cache-from: type=gha,scope=main
          cache-to: type=gha,mode=max,scope=main
